/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

/*..... Common Styles .........*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Custom Color */
:root{
    --primary-color: #86C6F4;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
    border-radius: 10px;
}

h3{
    margin: 10px;
}

button {
    background-color: var(--primary-color);
    border: 0;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 1rem;
    color: #ffff;
    font-weight: 600;
    cursor: pointer;
}
/* ................................. */
/* ................................. */


/* ......All inputs....... */
input {
    padding: 10px 10px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
input:focus { 
    outline: var(--primary-color) 1px solid;
 }
/* ...................... */
/* ...................... */



/* ........Header Title........ */
.header {
    display: flex;
    justify-content: center;
}
.header h1 {
    text-align: center;
    margin: 50px 0;
    color: var(--primary-color);
}
/* ........................ */
/* ........................ */


/* Dollar icon */
.dollar-icon {
    width: 50px;
    color: gold;
}
/* ................... */
/* ................... */


/* Content left image section */
.container .content-left {
    flex-basis: 100%;
    flex-grow: 1;
    border-radius: 10px;
}
/* .............................. */
/* .............................. */


/* Content left calculation section */
.container .content-right {
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFC107;
    border-radius: 10px;
}
/* ................................. */
/* ................................. */


/* All inputs errors & labels centralized & styles */
#income-error-field, #food-error-field, #rent-error-field, #clothes-error-field, #savings-error-field {
    display: block;
    color: red;
}
.income-area, .expenses-area, .expenses-calculate-area, .savings-area {
    text-align: center;
}
.expenses-area {
    display: flex;
    flex-direction: column;
}
.expenses-input-area{
    width: 305px;
}
.expenses-label{
    width: 50px;
    display: inline-block;
}
.expenses-input {
    width: 200px;
    display: inline-block;
}
/* ................................................... */
/* ................................................... */


/*......................................
Responsive For Desktop Version .........
...................................... */
@media (min-width: 920px) {
    .container .content-left{
        flex-basis: 60%;
        margin-right: 50px;
    }
    .container .content-right{
        flex-basis: 30%;
    }
}
/* ................................
.................................... */
/* .......Thank You......... */